@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success col-4">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger col-4">
        @TempData["MensagemErro"]
    </div>
}

@model List<AlunoModel>

<div class="text-left">
    <div>
        <h1>Dados dos Alunos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (AlunoModel aluno in Model)
                {
                    <tr>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Idade</td>
                        <td>@aluno.Contato</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.CEP</td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="BuscarEndereco" asp-route-cep="@aluno.CEP">Endereço</a>
                                <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="Editar" asp-route-Id="@aluno.Id">Editar</a>
                                <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="Excluir" asp-route-Id="@aluno.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <div>
        <center><a class="btn btn-primary" asp-controller="Alunos" asp-action="Adicionar" role="button">Adicionar Novo Aluno</a></center>
    </div>
</div>

